apiVersion: v1
kind: Secret
metadata:
  name: {{ include "marketdata.fullname" . }}
  labels:
    {{- include "marketdata.labels" . | nindent 4 }}
type: Opaque
stringData:
  JwtSettings__SecretKey: {{ .Values.secrets.jwtSecretKey | quote }}
  {{- if .Values.secrets.dbConnectionString }}
  ConnectionStrings__DefaultConnection: {{ .Values.secrets.dbConnectionString | quote }}
  {{- else if .Values.postgresql.enabled }}
  ConnectionStrings__DefaultConnection: "Host={{ include "marketdata.fullname" . }}-postgresql;Port=5432;Database={{ .Values.postgresql.auth.database }};Username={{ .Values.postgresql.auth.username }};Password={{ .Values.postgresql.auth.password }}"
  {{- end }}
  {{- if .Values.secrets.redisConnectionString }}
  ConnectionStrings__Redis: {{ .Values.secrets.redisConnectionString | quote }}
  {{- else if .Values.redis.enabled }}
  ConnectionStrings__Redis: "{{ include "marketdata.fullname" . }}-redis-master:6379"
  {{- end }}
